@import "/src/css/greetings.css";
@import "/src/css/clock.css";
@import "/src/css/quotes.css";
@import "/src/css/background.css";
@import "/src/css/todo.css";

@font-face {
  font-family: "SBAggroB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SBAggroM";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SBAggroL";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: SBAggroM;
  padding: 8px;
}

input {
  font-family: SBAggroL;
}

.hidden {
  display: none;
}
